In [2]:
import pandas as pd

In [3]:
import numpy as np

In [17]:
dada=pd.read_excel('C:/Users/wells/Desktop/example.xlsx')

In [18]:
dada

   id first_name last_name  age  preTestScore  postTestScore
0   0      Jason    Miller   42             4             34
1   1      Molly  Jacobson   52            24             40
2   2      Kyrie    Irving   36            31             57
3   3       Jake    Milner   24            40             62
4   4        Amy     Cooze   73            22             70

In [4]:
data=pd.DataFrame({'InvoiceNo':[1,2,3,4,5],
                   'B':[5,4,3,2,1]})

In [9]:
data

   InvoiceNo  B                 date
0          1  5  2019-01-03 00:00:00
1          2  4           2018-06-09
2          3  3           2017-08-04
3          4  2           2010-07-10
4          5  1           2019-05-30

In [6]:
data['date']=['2019-01-03','2018-06-09','2017-08-04','2010-07-10','2019-05-30']

In [8]:
data['date'][0]=pd.to_datetime(data['date'][0])

C:\Users\wells\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
data.insert(0,0,[0,2])

ValueError: Length of values does not match length of index

In [20]:
data

   B  InvoiceNo
0  5          1
1  4          2
2  3          3
3  2          4
4  1          5

In [21]:
data['B']=data['B']-2

In [22]:
data['B']-1

0    2
1    1
2    0
3   -1
4   -2
Name: B, dtype: int64

In [23]:
data

   B  InvoiceNo
0  3          1
1  2          2
2  1          3
3  0          4
4 -1          5

In [24]:
data[data['B']>-1]

   B  InvoiceNo
0  3          1
1  2          2
2  1          3
3  0          4

In [25]:
data['B']>-1

0     True
1     True
2     True
3     True
4    False
Name: B, dtype: bool

In [26]:
data['B>-1']=np.where(data['B']>-1,'T','F')

In [27]:
data

   B  InvoiceNo B>-1
0  3          1    T
1  2          2    T
2  1          3    T
3  0          4    T
4 -1          5    F

In [28]:
data2=data[['B','InvoiceNo']]

In [29]:
data.drop(1,axis=0)

   B  InvoiceNo B>-1
0  3          1    T
2  1          3    T
3  0          4    T
4 -1          5    F

In [31]:
data3=pd.concat([data,data2])

In [32]:
data3

   B B>-1  InvoiceNo
0  3    T          1
1  2    T          2
2  1    T          3
3  0    T          4
4 -1    F          5
0  3  NaN          1
1  2  NaN          2
2  1  NaN          3
3  0  NaN          4
4 -1  NaN          5

In [48]:
data.rename(columns={'B':'W'})

   W  InvoiceNo B>-1
0  1          1    T
1  0          2    T
2 -1          3    F
3 -2          4    F
4 -3          5    F

In [53]:
data['date1']=pd.Timestamp('2019-03-21')

In [55]:
data['year']=data['date1'].dt.year

In [56]:
data

   B  InvoiceNo B>-1      date1  year
0  1          1    T 2019-03-21  2019
1  0          2    T 2019-03-21  2019
2 -1          3    F 2019-03-21  2019
3 -2          4    F 2019-03-21  2019
4 -3          5    F 2019-03-21  2019

In [57]:
data['month']=data['date1'].dt.month

In [58]:
data['date1_next']=data['date1']+pd.offsets.MonthBegin()

In [59]:
data

   B  InvoiceNo B>-1      date1  year  month date1_next
0  1          1    T 2019-03-21  2019      3 2019-04-01
1  0          2    T 2019-03-21  2019      3 2019-04-01
2 -1          3    F 2019-03-21  2019      3 2019-04-01
3 -2          4    F 2019-03-21  2019      3 2019-04-01
4 -3          5    F 2019-03-21  2019      3 2019-04-01

In [60]:
data['date2']=pd.Timestamp('2015-02-15')

In [61]:
data['months_between']=(data['date2'].dt.to_period('M')-data['date1'].dt.to_period('M'))

In [62]:
data

,B,InvoiceNo,B>-1,date1,year,month,date1_next,date2,months_between
0,1,1,T,2019-03-21,2019,3,2019-04-01,2015-02-15,-49
1,0,2,T,2019-03-21,2019,3,2019-04-01,2015-02-15,-49
2,-1,3,F,2019-03-21,2019,3,2019-04-01,2015-02-15,-49
3,-2,4,F,2019-03-21,2019,3,2019-04-01,2015-02-15,-49
4,-3,5,F,2019-03-21,2019,3,2019-04-01,2015-02-15,-49

In [65]:
data[['A','B','B>1','date1','year','month','data1_next','date2','months_between']].head()

KeyError: "['A' 'B>1' 'data1_next'] not in index"

In [68]:
data2=data[['B','InvoiceNo','B>-1']]

In [72]:
data2.sort_values('B')

   B  InvoiceNo B>-1
4 -3          5    F
3 -2          4    F
2 -1          3    F
1  0          2    T
0  1          1    T

In [82]:
data2.sort_values('B').reset_index()

   index  B  InvoiceNo B>-1
0      4 -3          5    F
1      3 -2          4    F
2      2 -1          3    F
3      1  0          2    T
4      0  1          1    T

In [86]:
data2.sort_values('B').reset_index()

   index  B  InvoiceNo B>-1
0      4 -3          5    F
1      3 -2          4    F
2      2 -1          3    F
3      1  0          2    T
4      0  1          1    T

In [87]:
data2.sort_values('B').reset_index(drop=True)

   B  InvoiceNo B>-1
0 -3          5    F
1 -2          4    F
2 -1          3    F
3  0          2    T
4  1          1    T

In [88]:
data2.sort_values('B',ascending=False)

   B  InvoiceNo B>-1
0  1          1    T
1  0          2    T
2 -1          3    F
3 -2          4    F
4 -3          5    F

In [89]:
x='how are u?'

In [90]:
len(x)

10

In [91]:
x[3]

' '

In [9]:
x=firstlast=pd.DataFrame({'a':['aaa d','bbb c']})
x['a'].str.split(' ',expand=True)

     0  1
0  aaa  d
1  bbb  c

In [10]:
x['b']=x['a'].str.split(' ',expand=True)[1]

In [11]:
x

       a  b
0  aaa d  d
1  bbb c  c

In [6]:
m, s = divmod(10000000, 60)
h, m = divmod(m, 60)
d, h = divmod(h, 24)
print ("%02d %02d:%02d:%02d" % (d, h, m, s))

115 17:46:40

In [23]:
h=12
m=0
A=("%02d:%02d" % (h, m))
c=("%02d-%02d-%02d %02d:%02d:%02d" % (2019,3,31,12,0,0))
print(c)

2019-03-31 12:00:00

In [28]:
from matplotlib.pylab import date2num
e = date2num(c)
print(e)

AttributeError: 'numpy.str_' object has no attribute 'toordinal'

In [11]:
import time
st = time.strptime('2019-05-25 12:00:00', '%Y-%m-%d %H:%M:%S')
time.mktime(st)

1558756800.0

In [4]:
type(st)

time.struct_time

In [7]:
st1 = time.localtime(1558700040)
time.strftime('%Y-%m-%d %H:%M:%S', st1)

'2019-05-24 20:14:00'

In [41]:
a=0
a+=1
a

1

In [26]:
import pandas as pd
f=open(r'C:\Users\wells\OneDrive\Desktop\cw-article.csv',encoding='utf8')
test=pd.read_csv(f,chunksize=1)

In [45]:
d=pd.DataFrame({'index':[],
                'id':[],
                'title':[],
                'keyword':[],
                'type':[],
                'onlineTime':[],
                'paywall':[],
                'masterChannelTitle':[],
                'subChannelTitle':[],
                'authors':[],
                'articleAuthors':[],
                'response_editor':[]})
for i in range(1000000):
    try:
        d.loc['i']=test.get_chunk()
    except:
        print(test.get_chunk())

          id         title  keyword  type  onlineTime  paywall  \
679  5000654        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
679                                                           NaN
          id         title  keyword  type  onlineTime  paywall  \
681  5000656        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle  authors articleAuthors  \
681                               ,      ,

     response_editor
681              NaN
          id        title  keyword  type  onlineTime  paywall  \
683  5000658        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
683                                                           NaN
          id         title  keyword  type  onlineTime  paywall  \
685  5000660         NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
685                                                             NaN
          id         title  keyword  type  onlineTime  paywall  \
687  5000662        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
687                                                         NaN
          id        title  keyword  type  onlineTime  paywall  \
689  5000664        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
689                                                           NaN
          id        title  keyword  type  onlineTime  paywall  \
691  5000665         NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
691                                                             NaN
          id         title  keyword  type  onlineTime  paywall  \
693  5000667        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
693                                                           NaN
          id        title  keyword  type  onlineTime  paywall  \
695  5000669        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
695                          CEO                              NaN
          id           title  keyword  type  onlineTime  paywall  \
697  5000670        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
697                                                         NaN
          id      title  keyword  type  onlineTime  paywall  \
699  5000672        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
699                                                         NaN
          id          title  keyword  type  onlineTime  paywall  \
701  5000675        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
701                                                         NaN
          id     title keyword  type  onlineTime  paywall masterChannelTitle  \
703  5000677          2011-04-13        1

    subChannelTitle authors articleAuthors  response_editor
703                                          NaN
          id        title keyword  type  onlineTime  paywall  \
705  5000679         2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
705                                                         NaN
          id       title  keyword  type  onlineTime  paywall  \
707  5000681        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
707                                                           NaN
          id         title  keyword  type  onlineTime  paywall  \
709  5000683         NaN    2011-04-13        1

    masterChannelTitle subChannelTitle  authors articleAuthors  \
709                                 ,      ,

     response_editor
709              NaN
          id     title    keyword  type  onlineTime  paywall  \
711  5000685    OFF,    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
711                                                           NaN
          id        title  keyword  type  onlineTime  paywall  \
713  5000687        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
713                                                             NaN
          id       title  keyword  type  onlineTime  paywall  \
715  5000689        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
715                                                           NaN
          id        title  keyword  type  onlineTime  paywall  \
717  5000691        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
717                                                         NaN
          id        title  keyword  type  onlineTime  paywall  \
719  5000693  5      NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
719                                                           NaN
          id      title  keyword  type  onlineTime  paywall  \
721  5000695        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
721                                                           NaN
          id         title  keyword  type  onlineTime  paywall  \
723  5000697        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
723                                                         NaN
          id              title         keyword  type  onlineTime  paywall  \
725  5000699    ,,,    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
725                                                           NaN
          id        title  keyword  type  onlineTime  paywall  \
727  5000701        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
727                                                             NaN
          id          title  keyword  type  onlineTime  paywall  \
729  5000703        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
729                                                           NaN
          id     title  keyword  type  onlineTime  paywall masterChannelTitle  \
731  5000705        NaN    2011-04-13        1

    subChannelTitle authors articleAuthors  response_editor
731                                          NaN
          id       title  keyword  type  onlineTime  paywall  \
733  5000707        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
733                                                         NaN
          id      title  keyword  type  onlineTime  paywall  \
735  5000709        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle           authors     articleAuthors  \
735                                 Joe Studwell  Joe Studwell

     response_editor
735              NaN
          id       title  keyword  type  onlineTime  paywall  \
737  5000710        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
737                                                         NaN

          id         title  keyword  type  onlineTime  paywall  \
739  5000712        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
739                                                           NaN
          id       title  keyword  type  onlineTime  paywall  \
741  5000714        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
741                                                             NaN
          id        title  keyword  type  onlineTime  paywall  \
743  5000716        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
743                                                             NaN
          id     title  keyword  type  onlineTime  paywall masterChannelTitle  \
745  5000718        NaN    2011-04-13        1

    subChannelTitle authors articleAuthors  response_editor
745                                          NaN
          id    title  keyword  type  onlineTime  paywall masterChannelTitle  \
747  5000720        NaN    2011-04-13        1

    subChannelTitle authors articleAuthors  response_editor
747                                          NaN
          id       title  keyword  type  onlineTime  paywall  \
749  5000722  OFF      NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
749                                                           NaN
          id       title  keyword  type  onlineTime  paywall  \
751  5000723        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
751                                                             NaN
          id        title  keyword  type  onlineTime  paywall  \
753  5000725        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
753                                                         NaN
          id     title keyword  type  onlineTime  paywall masterChannelTitle  \
755  5000726          2011-04-13        1

    subChannelTitle authors articleAuthors  response_editor
755                                        NaN
          id     title keyword  type  onlineTime  paywall masterChannelTitle  \
757  5000726          2011-04-13        1

    subChannelTitle authors articleAuthors  response_editor
757                                      NaN
          id        title  keyword  type  onlineTime  paywall  \
759  5000728        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
759                                                           NaN
          id       title  keyword  type  onlineTime  paywall  \
761  5000730        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
761                                                             NaN
          id         title  keyword  type  onlineTime  paywall  \
763  5000732        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
763                                                           NaN
          id        title  keyword  type  onlineTime  paywall  \
765  5000734        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
765                                                           NaN
          id         title  keyword  type  onlineTime  paywall  \
767  5000736        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
767                                                             NaN
          id        title                  keyword  type  onlineTime  paywall  \
769  5000737    ,,,,CEO,    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
769                                                         NaN
          id  title  keyword  type  onlineTime  paywall masterChannelTitle  \
771  5000739        NaN    2011-04-13        1

    subChannelTitle authors articleAuthors  response_editor
771                                            NaN
          id       title  keyword  type  onlineTime  paywall  \
773  5000741        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
773                                                           NaN
          id     title  keyword  type  onlineTime  paywall masterChannelTitle  \
775  5000743        NaN    2011-04-13        1

    subChannelTitle authors articleAuthors  response_editor
775                                          NaN
          id      title keyword  type  onlineTime  paywall masterChannelTitle  \
777  5000744          2011-04-13        1

    subChannelTitle authors articleAuthors  response_editor
777                                        NaN
          id             title      keyword  type  onlineTime  paywall  \
779  5000746    ,    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
779                                                             NaN
          id          title      keyword  type  onlineTime  paywall  \
781  5000747    ,CWEF    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
781                                                             NaN
          id      title  keyword  type  onlineTime  paywall  \
783  5000749        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
783                                                         NaN
          id         title  keyword  type  onlineTime  paywall  \
785  5000751        NaN    2011-04-13        1

    masterChannelTitle subChannelTitle authors articleAuthors  response_editor
785                                                           NaN

KeyboardInterrupt:

In [50]:
list(test.get_chunk())

['id',
 'title',
 'keyword',
 'type',
 'onlineTime',
 'paywall',
 'masterChannelTitle',
 'subChannelTitle',
 'authors',
 'articleAuthors',
 'response_editor']

In [48]:
d.loc[1]=test.get_chunk()

ValueError: cannot set a row with mismatched columns